<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="a4a56872-b68c-4c07-ba2c-3f70d565d439" name="sweet as a chocolate" alias="sweet-as-a-chocolate" type="Starter" color="" url="https://www.s1.umbraco.io/project/sweet-as-a-chocolate" trialExpireDate="2021-04-12T11:08:40">
  <environment type="live" name="Live" id="19d5a028-546a-4e65-b01f-39985bc65420">https://sweet-as-a-chocolate.s1.umbraco.io</environment>
</environments>